.para{
    background-color: aqua;
    color:#000;
    padding: 1.25rem;
    font-size: 1.25rem;
}
.para1{
    background-color: rgb(8, 62, 62);
    color:#fff;
    padding: 1.25rem;
    font-size: 1.25rem;
}