<p class="para">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero facilis fugit deleniti nam accusantium blanditiis illum tempore. Aliquid dicta aperiam assumenda harum omnis numquam exercitationem, nulla nihil et sunt fugit.
</p>
<p class="para1">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias officia et aut. Vitae amet voluptates perspiciatis est asperiores earum. Minus, blanditiis placeat! Porro minima molestiae magnam veniam libero iure laborum.
</p>