.list{
    padding: 1.25rem;
    font-size:  1.25rem;
    color: #000;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    margin: 1.25rem
}


.list1{
    background-color: yellowgreen;
    margin: 1.25rem;
   
    // list-style: none;
}
.list2{
    background-color: lime;
    
    // list-style: none;
}
